<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>A New Note has been Submitted!</h1>
    <p>
      <%= @note_content %> <br> for <%= @job_associated.address %>. Find it using this access code <%= @job_associated.access_code %> <br> 
    </p>
  </body>
</html>